.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CudaPathTracer/v16/.suo
.vs/CudaPathTracer/v16/Browse.VC.db
.vs/CudaPathTracer/v16/Browse.VC.opendb
.vs/CudaPathTracer/v16/ipch/f5e43ab1c9a4e293.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/10929c208ac508b0/PATHTRACER.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/1566cc170659a8f0/KERNEL.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/1c1e11f5a538e32d/MATERIAL.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/2a08ea6da853c730/GAME.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/488b48119ebc84f0/SCENE.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/50c6b4eb0fbf962e/PATHTRACER.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/52990ed02ff82b6e/KERNEL.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/618a77b5d742162d/GLAD.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/75898e2bff088135/RENDERER.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/7829cab204f45bf6/KERNEL.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/7e91d52879f2e5de/SCENE.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/8ebdf2e273d28b9b/RENDERER.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/93b9c61b530a5ec8/RENDERER.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/98101956b5392e43/GAME.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/a4965a70b5ce9cc3/MATERIAL.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/b53c16ffa3ee00df/CAMERA.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/caf87378d706a6c5/RENDERER.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/e14927345bd21c31/CAMERA.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/e218dc34356856c1/SCENE.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/ea8b9ce36c791f3c/CUDAASSERT.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/ff31c0769bbb020/GAME.ipch
.vs/CudaPathTracer/v16/ipch/AutoPCH/ffa6dd8be2ad8b97/RAY.ipch
CudaPathTracer/Debug/CudaPathTracer.log
CudaPathTracer/Debug/Game.obj
CudaPathTracer/Debug/vc142.idb
CudaPathTracer/Debug/vc142.pdb
CudaPathTracer/Debug/CudaPathTracer.tlog/CL.command.1.tlog
CudaPathTracer/Debug/CudaPathTracer.tlog/CL.read.1.tlog
CudaPathTracer/Debug/CudaPathTracer.tlog/CL.write.1.tlog
CudaPathTracer/Debug/CudaPathTracer.tlog/CudaPathTracer.lastbuildstate
CudaPathTracer/Debug/CudaPathTracer.tlog/link.command.1.tlog
CudaPathTracer/Debug/CudaPathTracer.tlog/link.read.1.tlog
CudaPathTracer/Debug/CudaPathTracer.tlog/link.write.1.tlog
CudaPathTracer/src/Material.cpp
CudaPathTracer/x64/Debug/CudaPathTracer.Build.CppClean.log
CudaPathTracer/x64/Debug/CudaPathTracer.log
CudaPathTracer/x64/Debug/CudaPathTracer.vcxproj.FileListAbsolute.txt
CudaPathTracer/x64/Debug/Game.obj
CudaPathTracer/x64/Debug/glad.obj
CudaPathTracer/x64/Debug/Kernel.cu.cache
CudaPathTracer/x64/Debug/Kernel.cu.obj
CudaPathTracer/x64/Debug/Kernel.cu-1967917748.deps
CudaPathTracer/x64/Debug/Renderer.obj
CudaPathTracer/x64/Debug/vc142.idb
CudaPathTracer/x64/Debug/vc142.pdb
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/CL.command.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/CL.read.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/CL.write.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/CudaCompile.read.1u.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/CudaCompile.write.1u.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/CudaPathTracer.lastbuildstate
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/link.command.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/link.read.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/link.write.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/link-cvtres.read.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/link-cvtres.write.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/link-rc.read.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/link-rc.write.1.tlog
CudaPathTracer/x64/Debug/CudaPathTracer.tlog/unsuccessfulbuild
CudaPathTracer/x64/Release/Camera.obj
CudaPathTracer/x64/Release/CudaPathTracer.Build.CppClean.log
CudaPathTracer/x64/Release/CudaPathTracer.log
CudaPathTracer/x64/Release/CudaPathTracer.vcxproj.FileListAbsolute.txt
CudaPathTracer/x64/Release/Game.obj
CudaPathTracer/x64/Release/glad.obj
CudaPathTracer/x64/Release/Kernel.cu.cache
CudaPathTracer/x64/Release/Kernel.cu.obj
CudaPathTracer/x64/Release/Kernel.cu-1967917748.deps
CudaPathTracer/x64/Release/Material.obj
CudaPathTracer/x64/Release/PathTracer.obj
CudaPathTracer/x64/Release/Renderer.obj
CudaPathTracer/x64/Release/Scene.obj
CudaPathTracer/x64/Release/vc142.pdb
CudaPathTracer/x64/Release/CudaPathTracer.tlog/CL.command.1.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/CL.read.1.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/CL.write.1.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/CudaCompile.read.1u.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/CudaCompile.write.1u.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/CudaPathTracer.lastbuildstate
CudaPathTracer/x64/Release/CudaPathTracer.tlog/CudaPathTracer.write.1u.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/link.command.1.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/link.delete.1.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/link.read.1.tlog
CudaPathTracer/x64/Release/CudaPathTracer.tlog/link.write.1.tlog
Debug/CudaPathTracer.exe
Debug/CudaPathTracer.ilk
Debug/CudaPathTracer.pdb
x64/Debug/CudaPathTracer.pdb
x64/Release/CudaPathTracer.exe
x64/Release/CudaPathTracer.iobj
x64/Release/CudaPathTracer.ipdb
x64/Release/CudaPathTracer.pdb
x64/Release/glew32.dll
x64/Release/glfw3.dll
